* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: rgb(207, 242, 253);
  }
.container-box {
    padding-top: 5%;
}
.container h1 {
    font-weight: bold;
}

.container label {
    font-size: 17px;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

.form-group .form-control {
    border-radius: 5px;
    box-shadow: 1px 2px 7px rgb(134, 134, 134);
}

.btn-primary.btn-block {
    margin-top: 3%;
    font-weight: bold;
    height: 40px;
    border-radius: 7px;
    box-shadow: 1px 2px 7px rgb(134, 134, 134);
}

.table {
    border-left: 2px solid rgb(29, 178, 247);
    border-right: 2px  solid rgb(29, 178, 247);
    border-top: 2px solid white;
    border-bottom: 2px white;
    box-shadow: 4px 8px 14px rgb(134, 134, 134);
    border-radius: 10px;
}

h1   {
    text-shadow: 1px 2px 7px rgb(134, 134, 134);
}